DATABASE_URL=postgresql+asyncpg://user:password@host/dbname?ssl=require
JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7

SYSADMIN_EMAIL=
SYSADMIN_PASSWORD=
